APP_NAME="PTIT Booking"
APP_URL=http://127.0.0.1:8000
APP_ENV=local
APP_DEBUG=true

DB_CONNECTION=sqlite
DB_DATABASE=storage/database.sqlite

# MySQL example:
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=booking_ptit
# DB_USERNAME=root
# DB_PASSWORD=
